<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>485132120454-e5g5rfta6tvmkjg65l9s0h4d58poaedn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.485132120454-e5g5rfta6tvmkjg65l9s0h4d58poaedn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>485132120454-2a38q6sl3poon6i65cb2n790bktbiq4q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA5nwu9Zo0vIvUg3pnjkRIMD51XgbkvO7Y</string>
	<key>GCM_SENDER_ID</key>
	<string>485132120454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.positiveplusone.v3</string>
	<key>PROJECT_ID</key>
	<string>positiveplusone-develop</string>
	<key>STORAGE_BUCKET</key>
	<string>positiveplusone-develop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485132120454:ios:85f1bc2eb13a4bba0c7c07</string>
</dict>
</plist>