
.fvm/flutter_sdk

**/.flutter-plugins-dependencies
.idea

**/coverage/lcov.info
**/coverage/html/**
**/.flutter-plugins

clients/ppoa/test/rules/node_modules/**
clients/ppoa/pubspec.lock
clients/ppoa/pubspec.lock
app/.fvm/flutter_sdk

app/.fvm/flutter_sdk
app/functions/firebase-export-*

.vscode/launch.json