
.vscode/launch.json

**/.flutter-plugins-dependencies

**/coverage/lcov.info
**/coverage/html/**
**/.flutter-plugins

clients/ppoa/test/rules/node_modules/**
clients/ppoa/pubspec.lock
clients/ppoa/pubspec.lock
clients/ppoa/.fvm/flutter_sdk
