<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Positive +1</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.485132120454-e5g5rfta6tvmkjg65l9s0h4d58poaedn</string>
				<string>com.googleusercontent.apps.1058436764613-en7rig1a3nsqp2clu6c20oju6p8a5h4v</string>
				<string>com.googleusercontent.apps.504106569524-5jmrv2lpup9jvg5njs3g6n4d51p1sgbg</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pp1</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>DART_DEFINES</key>
	<string>$(DART_DEFINES)</string>
	<key>FLTEnableWideGamut</key>
	<true/>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>sms</string>
		<string>tel</string>
		<string>https</string>
		<string>mailto</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>We require access to your media library so you can share content with your +1s.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>We require access to your calendar so that we may add events to your schedule.</string>
	<key>NSCameraUsageDescription</key>
	<string>We require access to your camera so that you can take photos to share with your +1s.</string>
	<key>NSContactsUsageDescription</key>
	<string>We require access to your contacts so that we may invite your friends to Positive +1</string>
	<key>NSLocationUsageDescription</key>
	<string>We require access to your location so that we may show you events near you.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app requires temporary access to a users location to provide appropriate content and suggestions</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Please allow access to photo library so you can upload and share your photos with your +1s.</string>
	<key>NSRemindersUsageDescription</key>
	<string>We require access to reminders so that we may remind you of events in your schedule.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
