<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058436764613-en7rig1a3nsqp2clu6c20oju6p8a5h4v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058436764613-en7rig1a3nsqp2clu6c20oju6p8a5h4v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1058436764613-l64bi96m8ukidit69hc6s2m1m2mdigkr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCT6zjuBRamH5wvQUDHKHS4ChTLEhzfths</string>
	<key>GCM_SENDER_ID</key>
	<string>1058436764613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.positiveplusone.v3</string>
	<key>PROJECT_ID</key>
	<string>positiveplusone-production</string>
	<key>STORAGE_BUCKET</key>
	<string>positiveplusone-production.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058436764613:ios:fca7fcd38dd3d1c8c2b1ac</string>
</dict>
</plist>